.Header {
	width: 100%;
	height: 80px;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
	box-shadow: 0 0 5px #ccc;
}
.HeaderImg {
	width: 10rem;
	height: 100%;
}
.Menu {
	display: flex;
	justify-content: space-between;
}
.Menu ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
}

.Menu ul li {
	display: inline-flex;
}

.MobileMenuContainer {
	display: none;
}
.MobileMenu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999999;
}

.MobileMenu ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
}
.MobileMenu ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 1rem 0;
}
.MobileMenu ul li a {
	color: #fff;
	font-size: 1.5rem;
	width: 60%;
}

@media (max-width: 786px) {
	.Menu {
		display: none;
	}

	.MobileMenuContainer {
		display: block;
	}
	.BtnCustom {
		padding: 0;
	}
	.BtnCustomMobile {
		border: 2px solid #fff !important;
		color: #fff !important;
		font-size: 1.5rem !important;
		padding: 0.5rem !important;
		margin: 0.5rem !important;
		background: grey !important;
	}
}
